<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Integration</th>
      <th scope="col">Ticket ID</th>
      <th scope="col">Ticket Created</th>
      <th scope="col">Ticket Subject</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>Freshdesk</td>
        <td><%= ticket['id'] %></td>
        <td><%= formatIsoDate(ticket['created_at']) %></td>
        <td><%= ticket['subject'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<pre>
  <%= @tickets.inspect %>
</pre>
